body {
    background-color: grey;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.box {
    display: flex;
    flex: 0 0 25%;
    background-color: black;
    height: 150px;
    border: 20px solid grey;
    margin: 1rem;
}